* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000
}

body {
    background-color: #F5EEE0;   
}



::-webkit-scrollbar {
    display: none;
}

.main-header h1 {
    font-family: Merriweather;
    font-size: 7rem;
    text-align: center;
    
}

.nav-wrapper {
    background-color: #F4DECD;
}

.nav-wrapper a {
    font-family: Merriweather;
}

.secondary-header {
    margin-top: 50px;
    padding: 50px;
}

.left-header {
    font-family: Merriweather; 
}

.left-header p {
    max-width: 300px;
}

.right-header img {
    width: 90%;
    
}

.right-header {
    grid-column: 2 / 5;
    grid: 1 / -4;
    
   
}

.shop-header {
    margin-bottom: 150px;
}

/* bowl one */
.bowl-one-header {
    text-align: center;
}





