* {
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
}

.main-header h1 {
    font-family: Merriweather;
    font-size: 7rem;
    text-align: center;
    
}

.nav-wrapper a {
    font-family: Merriweather;
}

.secondary-header {
    margin-top: 80px;
    padding: 50px;
}

.left-header {
    font-family: Merriweather;
    
}

.left-header p {
    max-width: 300px;
}

.right-header img {
    width: 100%;
    
}

.right-header {
    grid-column: 2 / 5;
    grid: 1 / -4;
    
   
}

/* card styles */


.card-one {
    border-top: var(--primary-color) 4px solid;
}

.card-two{
    border-top: var(--primary-color) 4px solid;
}

.card-three {
    border-top: var(--primary-color) 4px solid;
}

.card-four {
    border-top: var(--primary-color) 4px solid;
}

.card-five {
    border-top: var(--primary-color) 4px solid;
}

.card-six {
    border-top: var(--primary-color) 4px solid;
    
}

.card-six img {
    height: 100%;
    width: 100%;
}


.shop-header {
    margin-bottom: 150px;
}

.card-image img {
    height: 300px;
    width: 300px;
}