
:root {
    --beige: #F5EEE0;
    --dark-beige: #D1B98F;
    --azure: #E0F3F5;
    --champagne-pink: #F4DECD;
    --light-pink: #F5EBE6;
    
}

/* content holders */


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

/* headers */
.item-header {
    margin-top: ;
}

  
/* fonts */
.sm-font {
    font-family: 'Merriweather';
    font-size: .9rem;
}

.md-font {
    font-family: Merriweather;
    font-size: 1rem;
}

.lg-font {
    font-family: Merriweather;
    font-size: 3rem;
}

.text-center {
    text-align: center;
}


/* buttons */
.btn-add-to-cart {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--dark-beige);
}

.btn-add-to-cart:hover {
    background-color: var(--champagne-pink);
}