
:root {
    --primary-color: rgb(85, 96, 199);
    
}

/* content holders */


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* .card {
    border-top: var(--primary-color) solid 5px;
}     */




  
/* fonts */
.sm-font {
    font-family: 'Merriweather';
    font-size: .9rem;
}

.md-font {
    font-family: Merriweather;
    font-size: 1rem;
}

.lg-font {
    font-family: Merriweather;
    font-size: 3rem;
}

.text-center {
    text-align: center;
}