
:root {
    --primary-color: rgb(85, 96, 199);
    
}

/* content holders */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr, 2fr;
    gap: 500px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
/* fonts */

.md-font {
    font-family: Merriweather;
    font-size: 1rem;
}

.lg-font {
    font-family: Merriweather;
    font-size: 3rem;
}